html {
    background-color: #1F2937;
}

body {
    margin: 0;
    font-family: 'Roboto', Verdana, Arial, sans-serif;
}

/* Combine header and footer plus where there is style overlap */
.header {
    color: #F9FAF8;

    display: flex;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: auto;

    display: flex;
    gap: 16px;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;

    display: flex;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.hero-left .text {
    font-size: 48px;
    font-weight: 900;
}

.hero-left .subtext {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

.hero-left button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0px;
    border-radius: 7.5%;
}

.social-proof {
    background-color: #FFFFFF;

    display: flex
    flex-direction: column;
}

.social-proof .text {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.testimonials {
    display: flex;
}

.client {
    display: flex;
    flex-direction: column;
}

.client .subtext {
    font-size: 18px;
    font-weight: 300;
}

.quote {
    background-color: #E5E7EB;

    display: flex;
    flex-direction: column;
}

.quote .text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote .subtext {
    font-size: 18px;
    font-weight: 700;
}

.cta-sec {
    display: flex;
}

.cta {
    display: flex;
}

.instructions {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    display: flex;
}