body {
    margin: 0;
    font-family: 'Roboto', Verdana, Arial, sans-serif;
}

.header {
    background-color: #1F2937;

    display: flex;
}

.hero {
    background-color: #1F2937;

    display: flex;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.social-proof {
    display: flex
    flex-direction: column;
}

.testimonials {
    display: flex;
}

.client {
    display: flex;
    flex-direction: column;
}

.quote {
    background-color: #E5E7EB;

    display: flex;
    flex-direction: column;
}

.cta-sec {
    display: flex;
}

.cta {
    display: flex;
}

.instructions {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    display: flex;
}